@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'module/footer.css';
@import 'variable.css';
@import 'module/header.css';
@import 'module/cta.css';
@import 'pages/home.css';
@import 'module/contacteznous.css';
/* @import 'pages/contact.css' */

*{
    margin: 0px;
    padding: 0px;
}
a {
    text-decoration: none;
}
body {
    background-color: var(--light-grey);
}


