footer {
    background-color: var(--black);
    padding: 6.75rem 3rem 6.75rem 0rem;
    font-size:2rem ;
    margin-top: 4.563rem;
}
footer div a {
    color :var(--white)
}
footer div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 3.5rem;
}